
  <h2>ユーザー</h2>
  <% if current_user.present? %>
    <%= link_to "Profile", user_path(current_user.id) %>
   <% end %>
  <% @users.each do |user| %>
    <% if current_user %>
      <% if user.id != current_user.id %>
        <li>
          <div class="item">
            <%= user.name %>
            <%= user.email %>
            <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
          </div>
        </li>
          <%= render 'follow_form', user: user %>
      <% end %>
    <% end %>
  <% end %>