<!DOCTYPE html>
<html>
  <head>
    <title>Hope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "新規登録", new_user_registration_path %>
    <%= yield %>
    <% if current_user.present? %>
      <li><%= link_to 'ユーザー一覧', users_path  %></li>
    <% end %>
  </body>
</html>
